singularity.enabled = true
singularity.autoMounts = true

process {
    executor='slurm'
    containerOptions='--bind "/scratch:/scratch" --bind "/nfs:/nfs" --bind "/gpfs:/gpfs"'
    shell = ['/bin/bash', '-ueo', 'pipefail']
    clusterOptions='--account=acctname'
	}

trace.enabled = true
report.enabled = true
dag.enabled = true
nextflowVersion = '>=23.10.0'

singularity.cacheDir = '/path/to/singularity-cache'

// clean up intermediate files with nf-boost to free up disk - requires nf>=23.10.0

//
// set paths for generic files here
//

