singularity.enabled = true
singularity.autoMounts = true

process {
    executor='slurm'
    containerOptions='--bind "/scratch:/scratch" --bind "/nfs:/nfs" --bind "/gpfs:/gpfs"'
    shell = ['/bin/bash', '-ueo', 'pipefail']
    clusterOptions='--account=[BILLACCT]'
	}

trace.enabled = true
report.enabled = true
dag.enabled = true
nextflowVersion = '>=19.04.1'

singularity.cacheDir = '/path/to/singularity-cache'

//
// set paths for generic files here
//

